                                                                                                                                
<!doctype html>
<html>
    <head>
        <title>Lab5</title>

                <style>
                        table, th, td {
                        border: 1px solid black;
                        border-collapse: collapse;
                }
                th, td {
                        padding: 5px;
                        text-align: left;
                }
                table#t01 {
                        width: 100%;
                        background-color: #f1f1c1;
                }
                </style>
    </head>
    <body>
        <form action="{{ url_for('Layout') }}" method="GET">
            <div>
                <input type="submit" size=3 name="id" value='Temperature'>
            </div>
        </form>
        
        {% block body %}
        {% endblock %}
    </body>
</html>

